/* CardsDashboard.css */

.dashboard-card {
  border: 0;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  flex: 1;
}

.card-title-text {
  color: #6c757d;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.card-value-text {
  font-weight: bold;
  margin-bottom: 0;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 10px;
}