.footer {
  background: #014d4e !important;
  color: #ffffff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer a:hover {
  color: #0d6efd;
  transition: 0.2s;
}