body {
  background-color: #f8fafc;
}
.green-circle-active-courses {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: greenyellow;
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}


/*PARA ADMINS*/

.quick-access-menu {
  background-color: rgb(255, 255, 255);
  border-radius: 9px;
}