body {
  background-color: #f8fafc;
}
.green-circle-active-courses {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: greenyellow;
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}

/*PARA ADMINS*/
.quick-access-menu {
  background-color: rgb(255, 255, 255);
  border-radius: 9px;
}


.intro-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  opacity: 1;
  transition: opacity 0.6s ease;
}
.intro-overlay.fade-out {
  opacity: 0;
}
/* Caixa do vídeo */
.intro-box {
  width: 320px;
  max-width: 85vw;

  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
}
/* Vídeo */
.intro-video-centered {
  width: 100%;
  height: auto;
  display: block;
}
