.green-circle-active-courses {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: greenyellow;
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}