@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.credentials-login {
  background-color: #d7e4e4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-login {
  min-height: 100vh;
  background: #014d4e;
  padding: 4rem 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  overflow: hidden;
}

.eyebrow-login {
  display: inline-block;
  padding: 15px 35px;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 999px;
  font-weight: bold;
}

.description-login {
  max-width: 500px;
  font-size: 1.4rem;
}

.title-login {
  font-weight: 900;
  font-size: clamp(2.5rem, 5vw, 4rem);
}

.title-login,
.eyebrow-login,
.description-login,
.cards-login {
  position: static;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.card-login {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  min-height: 110px;
  color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  max-width: 225px;
  padding: 20px 25px 20px 15px;
  border-radius: 1.45rem;
  margin-bottom: 2vh;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(6px);
  transition: transform 0.2s ease, background 0.2s ease;
}

p {
  white-space: nowrap;
}

/* base of balls */
.ball {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.08);
  overflow: hidden;
}

/* bola direita */
.ball-1 {
  width: 28vw;
  height: 28vw;
  top: -12vw;
  right: -10vw;
}

/* bola esquerda */

.ball-2 {
  width: 35vw;
  height: 35vw;
  bottom: -25vw;
  left: -15vw;
}

.icon {
  color: #ffffff;
}

.modal-login {
  max-width: 420px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .banner-login {
    display: none;
  }

  .credentials-login {
    min-height: 100vh;
  }
  p {
    white-space: wrap;
    font-size: 0.5rem;
  }
}
@media (max-width: 1470px) {
  .banner-login {
    padding: 2.4rem 1.5rem;
  }

  p {
    white-space: wrap;
    font-size: 1.2rem;
  }

}
