* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.credentials-login {
  background-color: #7bb4b4;
  display: flex;
  align-items: center;
  justify-content: center;
}


.banner-login {
  min-height: 100vh;
  background: #014d4e;
  padding: 4rem 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
   overflow: hidden;
}

.eyebrow-login {
  padding: 15px 35px;
  border: solid 1px black;
  border-radius: 999px;
  font-weight: bold;
}

.description-login {
  max-width: 500px;
  font-size: 1.1rem;
}

.title-login, .eyebrow-login, .description-login, .cards-login {
  position: static;
  color: #ffffff;
}


.card-login {
  color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  padding: 5px 15px 0px 15px;
  border-radius: 18%;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* base of balls */
.ball {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.08);
  overflow: hidden;
}

/* bola direita */
.ball-1 {
  width: 28vw;
  height: 28vw;
  top: -12vw;
  right: -10vw;
}

/* bola esquerda */

.ball-2 {
  width: 45vw;
  height: 45vw;
  bottom: -30vw;
  left: -25vw;
} 

.icon {
  color: #ffffff;
}

.modal-login {
  max-width: 420px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
  .banner-login {
    display: none;
  }

  .credentials-login {
    min-height: 100vh;
  }
}
