/* Ajustes globais do Calendário */
.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: inherit;
}

/* Estilo de cada quadrado (dia) */
.react-calendar__tile {
  padding: 12px 8px !important;
  border-radius: 8px;
  transition: all 0.2s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e9ecef !important;
  color: #065f5a !important;
}

/* Dia selecionado */
.react-calendar__tile--active {
  background: #065f5a !important;
  color: white !important;
  font-weight: bold;
}

/* Fim de semana */
.react-calendar__month-view__days__day--weekend {
  color: #dc3545;
  font-weight: bold;
}

/* Cabeçalho (Mês e setas) */
.react-calendar__navigation button {
  color: #065f5a;
  font-weight: bold;
  font-size: 1.1rem;
}

/* Remove o fundo amarelo do dia de hoje */
.react-calendar__tile--now {
  background: lightgray !important;
  color: #065f5a !important;
  border: 1px solid black !important;
  border-radius: 12px;
}

.react-calendar__tile--now.react-calendar__tile--active {
  background: #065f5a !important;
  color: white !important;
  border: none !important;
}

.schedule-card-map {
  border: 2px solid transparent;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border-color 0.3s ease;
  will-change: transform;
}

.schedule-card-map:hover {
  border-color: var(--bs-primary);
  box-shadow: 0 0.75rem 1.5rem rgba(6, 95, 91, 0.315) !important;
  transform: translateY(-3px) scale(1.05);
}

/* Contentor do ponto indicador */
.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2px;
  width: 100%;
}

/* O ponto indicador */
.schedule-dot {
  height: 6px;
  width: 6px;
  background-color: #065f5a; /* Verde sucesso */
  border-radius: 50%;
}

.react-calendar__tile {
  position: relative !important;
  height: 50px;
}

/* Bootstrap */
.form-control:focus {
  border-color: #065f5a !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: none !important;
}

.input-group:focus-within {
  border-color: #065f5a !important;
  box-shadow: 0 0 0 0.25rem rgba(6, 95, 90, 0.25) !important;
  transition:
    box-shadow 0.5s ease,
    border-color 0.5s ease !important;
}

.input-group {
  border: 0.5px solid #dee2e6 !important;
  border-radius: 6px;
  background-color: #fff;
  transition:
    border-color 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out !important;
}
