.tabela-alunos {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  align-items: center;
}

.custom-modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;

  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-modal-overlay .modal-dialog {
  z-index: 1060;
}
