.imgErro {
  width: 900px;
  height: 900px;
}
.error-code {
  font-size: 100px;
  font-weight: 800;
}

@media (max-width: 1600px) {
  .imgErro {
    width: 400px;
    height: 400px;
  }
  .error-code {
  font-size: 70px;
  font-weight: 800;
}
}

@media (max-width: 1024px) {
  .imgErro {
    width: 450px;
    height: 450px;
  }
  .error-code {
    font-size: 80px;
    font-weight: 600;
  }
}

@media (max-width: 425px) {
  .imgErro {
    width: 250px;
    height: 250px;
  }
  .error-code {
    font-size: 50px;
    font-weight: 600;
  }
}
